* {
  background-color: dodgerblue;
  margin: 2px 2px 2px 2px;
  /* top right bottom left */
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  color:white;
}

.title-header {
  text-align: center;
  padding-bottom: 15px;
  color:#A51C30;
  font-size:30px;
}

#nav-container {
  outline: 3px solid gold;
  height: auto;
  width: 50%;
  padding:10px;
  text-align:center;
  margin:auto;
}

#nav-links {
  text-decoration: none;
  /*padding-left: 1%;
  padding-right: 1%;*/
  width: 40px;
  height:8px;
  background-color: #A51C30;
}
a:hover {
  color:goldenrod;
}

.infoDrop {
  padding-top: 20px;
}

a:active {
  color:rgb(42, 247, 151);
  font-size: 16px;
}

a {
  color: rgb(248, 247, 247);
  font-size: 16px;
}


#Corona-section {
  scroll-behavior: smooth;
  transition: all 5s;
  opacity: 0;
}

#Corona-section.active {
  opacity: 1;
  transition: all 5s;
}

.introduction {
  padding-top:30px;
  padding-bottom: 58px;
}

.welcome-container {
  outline: 3px solid black;
}
.welcome-text {
  font-size: 16px;
  height: auto;
  width: auto;
  padding:15px;
  color:aliceblue;
}

.formOne {
  padding-top: 25px;
  padding-bottom: 25px;
  outline: 3px dashed white;
}

.topnav {
  float: left;
}

.covid-info {
  float: left;
}

.infoCenter {
  padding-top:20px;
  padding-bottom:15px;
  border: 1px, solid, black;
}

/* Change the distance from the last element on the page to the footer */
.foot {
  text-align: center;
  color:#D3D3D3;
  font-size:15px;
  padding-top: 1200px;
  padding-bottom: 20px;
}

/* Dropdown Menu */
.dropbtn {
  background-color: #A51C30;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #A51C30;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom:100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  overflow-y: scroll;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #A51C30;
}

.dropdown-content a:hover {background-color: tomato}


.show {display:block;}

/*End of Drop Down Menu*/

/*Age Slider*/
.slidecontainer {
  width: 30%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: whitesmoke;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #A51C30;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #A51C30;
  cursor: pointer;
}
/*End of SLider*/

/*Checkbox*/
.ulStyle {
  list-style-type: none;
}

.liDisplay{
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

table {
  width: 50%
}
td {
   width:30%;
   align-content:center
}
td img {
    align-self:center
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
/*End of Checkbox*/


iframe {
  width: 800px;
  height: 500px;
  max-width: 100%; 
}

